@model IEnumerable<MiltonHotel.Models.CARD>

@{
    ViewBag.Title = "confimCard";
}

<h2>Payment</h2>

@if (TempData["deleted_card"] != null)
{
    <div class="alert alert-warning"><Strong>@TempData["deleted_card"]</Strong>></div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CREDIT_CARD_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARD_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME_ON_CARD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXP_DATE)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CREDIT_CARD_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CARD_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME_ON_CARD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXP_DATE)
            </td>
            <td>
                @if (Session["ROOM_NO"] != null)
                {
                    @Html.ActionLink("Make Paymnet using this card", "confirmBooking", "BOOKING", new { cardNo = item.CREDIT_CARD_NO }, null) 
                }
               | @Html.ActionLink("Delete this card", "deleteCard", "CARD", new { cardNo = item.CREDIT_CARD_NO }, null)
            </td>
        </tr>
    }

</table>

<center><input type="button" value="Add Card" class="btn btn-default" onclick="location.href='@Url.Action("cardDetails", "CARD" )'" /></center>


